.counter-block {
  color: #fff;
  margin-top: 10px;
  padding: 20px;
}

.bg-c-green {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bio {
  margin-top: 15px;
}

.big-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.iconMatch{
  text-shadow: 0 0 3px black;
}
.iconFontMatch{
  font-weight: bold
}

.connect-button {
  cursor: pointer;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.75); }
